---
layout: default
---
<div style="margin-top:20px" id="home">
  <div class="w3-panel w3-leftbar w3-white">
    <p class="w3-xlarge">
    <i>Learning the art of converting caffein into better data-driven decision </i>☕</p>
  </div>

  <div class="w3-row-padding w3-center">
    <h1 class="w3-center">Experience</h1>
    <div class="w3-third">
      <i class="fa fa-rotate-left w3-margin-top w3-center"></i>
      <h3>Automation</h3>
      <p>Improve efficiency and quality by automating repetitive tasks.</p>
    </div>
    <div class="w3-third">
      <i class="fa fa-microchip  w3-margin-top"></i>
      <h3>AI</h3>
      <p>Use appropriate machine learning models to solve major pain points.</p>
    </div>
    <div class="w3-third">
      <i class="fa fa-database w3-margin-top"></i>
      <h3>Database</h3>
      <p>Provide comfortable, efficient and affordable home for critical data.</p>
    </div>
  </div>
  <br>

  <div class="w3-row-padding w3-center" id="projects">
    <h1 class="w3-center">Projects</h1>
    <div class="container">
        <a href="{{ site.baseurl }}{% post_url 2024-03-09-e-commerce-data-analysis %}">
            <div class="w3-card-4 project-card">
                <img src="{{ site.baseurl }}/images/blog/e-commerce-data-analysis/e-commerce-dashboard.png" alt="Tableau E-commerce Dashboard">
                <h3>E-commerce Data Analytics & Interactive Dashboard</h3>
                <span class="w3-tag w3-round-large w3-orange">Data Analytics</span>
                <span class="w3-tag w3-round-large w3-orange">EDA</span>
                <span class="w3-tag w3-round-large w3-orange">Data Cleaning</span>
                <span class="w3-tag w3-round-large w3-orange">Python</span>
                <span class="w3-tag w3-round-large w3-orange">Pandas</span>
                <span class="w3-tag w3-round-large w3-orange">Tableau</span>
                <div class="w3-container">
                <p>This project includes an interactive dashboard using Tableau. You can change various parameters such as moving average period and top N sales/expenses. When certain period is selected, other dashboard components will be adjusted automatically. Exploratory data analysis (EDA) and data cleaning were also performed to ensure more accurate results.</p>
                </div>
            </div>
        </a>
    </div>
    <br>
    <div class="w3-half">
        <a href="{{ site.baseurl }}{% post_url 2023-07-29-creating-german-conversation-app %}">
            <div class="w3-card-4 project-card">
                <img src="{{ site.baseurl }}/images/projects/lsg.png" alt="LSG">
                <h3>Practice German With AI</h3>
                <span class="w3-tag w3-round-large w3-orange">Machine Learning</span>
                <span class="w3-tag w3-round-large w3-orange">NLP</span>
                <span class="w3-tag w3-round-large w3-orange">Transformer Model</span>
                <span class="w3-tag w3-round-large w3-orange">Python</span>
                <span class="w3-tag w3-round-large w3-orange">Javascript</span>
                <span class="w3-tag w3-round-large w3-orange">FastAPI</span>
                <span class="w3-tag w3-round-large w3-orange">Svelte</span>
                <span class="w3-tag w3-round-large w3-orange">Linux</span>
                <div class="w3-container">
                <p>Practice German conversation without fear. The app focuses on providing speedy response to make simulated conversation more natural, without using expensive large language models (LLMs) such as GPT by Open AI.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="w3-half">
        <a href="https://data-driven-trader.onrender.com/">
            <div class="w3-card-4 project-card">
                <img src="{{ site.baseurl }}/images/projects/ddt.png" alt="DDT">
                <h3>Data Driven Trader</h3>
                <span class="w3-tag w3-round-large w3-orange">Data Analysis</span>
                <span class="w3-tag w3-round-large w3-orange">Python</span>
                <span class="w3-tag w3-round-large w3-orange">Streamlit</span>
                <span class="w3-tag w3-round-large w3-orange">Docker</span>
                <div class="w3-container">
                    <p>Test trading strategy with more data! With this no code app, we can measure different metrics with years of data. These metrics include Sharpe ratio and comparison vs buy and hold strategy. This app can help to prevent loss before adopting a new trading strategy.</p>
                </div>
            </div>
        </a>
    </div>
  </div>

  <br>
  <h1 class="w3-center">Latest Blog Posts</h1>
  <br>

  {% for item in site.data.tags_list.tags %}
  <a href="{{ site.baseurl }}/{{ item.url }}"><button class="w3-button w3-black">{{ item.title }}</button></a>
  {% endfor %}
  <br>
  <div class="posts">
    {% assign counter = '0' %}
    {% for post in site.posts %}
    {% if counter < '3' %} {% capture counter %}{{ counter | plus:'1' }}{% endcapture %} <article class="post">
      {% if post.cover %}
      <img src="{{ site.baseurl }}/images/{{ post.cover }}" alt="">
      {% endif %}
      <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      <div class="date">
        {{ post.date | date: "%B %e, %Y" }}
      </div>
      <div class="entry">
        {{ post.excerpt }}
      </div>
      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      </article>
      {% endif %}
      {% endfor %}
  </div>
</div>